In [17]:
# import library
import pandas as pd

In [ ]:
pd.__version__

'1.3.5'

In [ ]:
s = pd.Series(data=[1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
myList = [1,2,3,4,5]

s = pd.Series(myList)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
dfA = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
dfB = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])

dfC = dfA.append(dfB)
dfC

   A  B
x  1  2
y  3  4
x  5  6
y  7  8

In [ ]:
dfC.loc[['x'], ['A']]

   A
x  1
x  5

In [ ]:
dfC

   A  B
x  1  2
y  3  4
x  5  6
y  7  8

In [ ]:
dfC.iloc[:, :]

   A  B
x  1  2
y  3  4
x  5  6
y  7  8

In [ ]:
dfC.iloc[:3, :1]

   A
x  1
y  3
x  5

In [42]:
# create dataframe from dictionary
myDict = {
    'col_1' : [1,2,3,4,5],
    'col_2' : [6,7,8,9,10]
}

In [43]:
df1 = pd.DataFrame(myDict)
df1

   col_1  col_2
0      1      6
1      2      7
2      3      8
3      4      9
4      5     10

In [44]:
df1.replace(5, 12, inplace=True)
df1

   col_1  col_2
0      1      6
1      2      7
2      3      8
3      4      9
4     12     10

In [ ]:
df1['col_1'][3] = "oke"
df1

  col_1  col_2
0     1      6
1     2      7
2     3      8
3   oke      9
4     5     10

In [ ]:
df1.dtypes

col_1    object
col_2     int64
dtype: object

In [ ]:
df.columns

Index(['col_1', 'col_2'], dtype='object')

In [ ]:
df.columns = ['A', 'B']
df

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [ ]:
df.columns.values[0] = "Kolom 1"
df

   Kolom 1   B
0        1   6
1        2   7
2        3   8
3        4   9
4        5  10

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
dataset = "/content/drive/MyDrive/intermediate-python/datasets/My Uber Drives - 2016.csv"

In [21]:
# load datasets from csv file
df = pd.read_csv(dataset)
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [22]:
index = ['Start Date', 'End Date', 'Category', 'Start City', 'Stop City', 'Miles', 'Purpose']
df.columns = index
df

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [7]:
df.dtypes

Start Date     object
End Date       object
Category       object
Start City     object
Stop City      object
Miles         float64
Purpose        object
dtype: object

In [ ]:
df.shape

(1156, 7)

In [ ]:
df.head(10)

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit

In [ ]:
df.tail()

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [25]:
df = df.drop(df.index[-1])
df

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
0,1/1/2016 21:11,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,12/31/2016 1:07,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [26]:
df.dtypes

Start Date            object
End Date      datetime64[ns]
Category              object
Start City            object
Stop City             object
Miles                float64
Purpose               object
dtype: object

In [27]:
df['Start Date'] = pd.to_datetime(df['Start Date'])
df.dtypes

Start Date    datetime64[ns]
End Date      datetime64[ns]
Category              object
Start City            object
Stop City             object
Miles                float64
Purpose               object
dtype: object

In [28]:
df['End Date'] = pd.to_datetime(df['End Date'])
df.dtypes

Start Date    datetime64[ns]
End Date      datetime64[ns]
Category              object
Start City            object
Stop City             object
Miles                float64
Purpose               object
dtype: object

In [ ]:
# data summarization
df.describe()

             Miles
count  1155.000000
mean     10.566840
std      21.579106
min       0.500000
25%       2.900000
50%       6.000000
75%      10.400000
max     310.300000

In [ ]:
df.astype('object').describe()

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
count,1155,1155,1155,1155,1155,1155.0,653
unique,1154,1154,2,177,188,256.0,10
top,2016-06-28 23:34:00,2016-06-28 23:59:00,Business,Cary,Cary,9.9,Meeting
freq,2,2,1078,201,203,28.0,187

In [ ]:
df['Start City'].value_counts()

Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
                   ...
Florence              1
Ridgeland             1
Daytona Beach         1
Sky Lake              1
Gampaha               1
Name: Start City, Length: 177, dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Start Date  1155 non-null   datetime64[ns]
 1   End Date    1155 non-null   datetime64[ns]
 2   Category    1155 non-null   object
 3   Start City  1155 non-null   object
 4   Stop City   1155 non-null   object
 5   Miles       1155 non-null   float64
 6   Purpose     653 non-null    object
dtypes: datetime64[ns](2), float64(1), object(4)
memory usage: 72.2+ KB

In [ ]:
# Selecting dan Indexing
# loc dan iloc

In [57]:
data = df
data

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
# iloc
data.iloc[:,:] # [0:1155,0:7]

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [ ]:
data.iloc[:, [0,3]]

              Start Date        Start City
0    2016-01-01 21:11:00       Fort Pierce
1    2016-01-02 01:25:00       Fort Pierce
2    2016-01-02 20:25:00       Fort Pierce
3    2016-01-05 17:31:00       Fort Pierce
4    2016-01-06 14:42:00       Fort Pierce
...                  ...               ...
1150 2016-12-31 01:07:00           Kar?chi
1151 2016-12-31 13:24:00           Kar?chi
1152 2016-12-31 15:03:00  Unknown Location
1153 2016-12-31 21:32:00        Katunayake
1154 2016-12-31 22:08:00           Gampaha

[1155 rows x 2 columns]

In [ ]:
data.iloc[:, 0:3]

              Start Date            End Date  Category
0    2016-01-01 21:11:00 2016-01-01 21:17:00  Business
1    2016-01-02 01:25:00 2016-01-02 01:37:00  Business
2    2016-01-02 20:25:00 2016-01-02 20:38:00  Business
3    2016-01-05 17:31:00 2016-01-05 17:45:00  Business
4    2016-01-06 14:42:00 2016-01-06 15:49:00  Business
...                  ...                 ...       ...
1150 2016-12-31 01:07:00 2016-12-31 01:14:00  Business
1151 2016-12-31 13:24:00 2016-12-31 13:42:00  Business
1152 2016-12-31 15:03:00 2016-12-31 15:38:00  Business
1153 2016-12-31 21:32:00 2016-12-31 21:50:00  Business
1154 2016-12-31 22:08:00 2016-12-31 23:51:00  Business

[1155 rows x 3 columns]

In [ ]:
dt = data.iloc[[1,15,11,112], :]
dt

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
15,2016-01-11 13:32:00,2016-01-11 13:46:00,Business,Midtown,Midtown East,1.7,Meal/Entertain
11,2016-01-10 18:18:00,2016-01-10 18:53:00,Business,Elmhurst,New York,7.5,Meeting
112,2016-02-16 12:39:00,2016-02-16 12:42:00,Business,Colombo,Colombo,1.7,NaN

In [ ]:
dt.iloc[[0,1], :]

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
15,2016-01-11 13:32:00,2016-01-11 13:46:00,Business,Midtown,Midtown East,1.7,Meal/Entertain

In [ ]:
dt.loc[[1,15], :]

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
15,2016-01-11 13:32:00,2016-01-11 13:46:00,Business,Midtown,Midtown East,1.7,Meal/Entertain

In [ ]:
dt.iloc[[1,3], -1:]

   Category
1  Business
3  Business

In [ ]:
# loc
data.loc[:, ['Start Date', 'Start City']]

              Start Date        Start City
0    2016-01-01 21:11:00       Fort Pierce
1    2016-01-02 01:25:00       Fort Pierce
2    2016-01-02 20:25:00       Fort Pierce
3    2016-01-05 17:31:00       Fort Pierce
4    2016-01-06 14:42:00       Fort Pierce
...                  ...               ...
1150 2016-12-31 01:07:00           Kar?chi
1151 2016-12-31 13:24:00           Kar?chi
1152 2016-12-31 15:03:00  Unknown Location
1153 2016-12-31 21:32:00        Katunayake
1154 2016-12-31 22:08:00           Gampaha

[1155 rows x 2 columns]

In [13]:
# Filtering
data.loc[data['Miles']>10]

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
9,2016-01-10 12:17:00,2016-01-10 12:44:00,Business,Jamaica,New York,16.5,Customer Visit
10,2016-01-10 15:08:00,2016-01-10 15:51:00,Business,New York,Queens,10.8,Meeting
22,2016-01-12 16:02:00,2016-01-12 17:00:00,Business,New York,Queens County,15.1,Meeting
23,2016-01-13 13:54:00,2016-01-13 14:07:00,Business,Downtown,Gulfton,11.2,Meeting
...,...,...,...,...,...,...,...
1133,2016-12-29 09:44:00,2016-12-29 10:07:00,Business,Kar?chi,Unknown Location,11.6,Meal/Entertain
1134,2016-12-29 11:28:00,2016-12-29 12:00:00,Business,Unknown Location,Kar?chi,11.9,Meal/Entertain
1144,2016-12-29 23:14:00,2016-12-29 23:47:00,Business,Unknown Location,Kar?chi,12.9,Meeting
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [14]:
data.loc[data['Start City'] == "Jamaica"]

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
9,2016-01-10 12:17:00,2016-01-10 12:44:00,Business,Jamaica,New York,16.5,Customer Visit
416,2016-06-08 12:04:00,2016-06-08 13:01:00,Business,Jamaica,New York,22.3,Errand/Supplies

In [15]:
data

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [16]:
data.dtypes

Start Date    datetime64[ns]
End Date      datetime64[ns]
Category              object
Start City            object
Stop City             object
Miles                float64
Purpose               object
dtype: object

In [49]:
data.loc[data['Start Date'] > "2016-08-10"]

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
644,2016-08-10 16:56:00,2016-08-10 17:24:00,Business,Cary,Durham,12.9,NaN
645,2016-08-10 17:53:00,2016-08-10 18:28:00,Business,Durham,Apex,15.3,NaN
646,2016-08-10 18:49:00,2016-08-10 18:50:00,Business,Apex,Apex,1.0,NaN
647,2016-08-10 19:47:00,2016-08-10 20:02:00,Business,Apex,Cary,6.0,NaN
648,2016-08-11 12:53:00,2016-08-11 13:00:00,Business,Whitebridge,Heritage Pines,2.2,NaN
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [50]:
data

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site

In [52]:
# sorting
data.sort_values(by=['Miles'], ascending=False)

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
269,2016-03-25 16:52:00,2016-03-25 22:22:00,Business,Latta,Jacksonville,310.3,Customer Visit
270,2016-03-25 22:54:00,2016-03-26 01:39:00,Business,Jacksonville,Kissimmee,201.0,Meeting
881,2016-10-30 15:22:00,2016-10-30 18:23:00,Business,Asheville,Mebane,195.9,NaN
776,2016-09-27 21:01:00,2016-09-28 02:37:00,Business,Unknown Location,Unknown Location,195.6,NaN
546,2016-07-14 16:39:00,2016-07-14 20:05:00,Business,Morrisville,Banner Elk,195.3,NaN
...,...,...,...,...,...,...,...
945,2016-11-12 13:46:00,2016-11-12 13:50:00,Business,Central,West Berkeley,0.6,NaN
1121,2016-12-27 12:53:00,2016-12-27 12:57:00,Business,Kar?chi,Kar?chi,0.6,Meal/Entertain
420,2016-06-08 17:16:00,2016-06-08 17:18:00,Business,Soho,Tribeca,0.5,Errand/Supplies
44,2016-01-26 17:27:00,2016-01-26 17:29:00,Business,Cary,Cary,0.5,Errand/Supplies
120,2016-02-17 16:38:00,2016-02-17 16:43:00,Business,Katunayaka,Katunayaka,0.5,Errand/Supplies

In [53]:
data.sort_values(by=['Start Date'], ascending=False)

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting
...,...,...,...,...,...,...,...
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain

In [54]:
data.sort_values(by=['Start City'], ascending=True)

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose
911,2016-11-06 10:50:00,2016-11-06 11:04:00,Business,Agnew,Renaissance,2.4,NaN
910,2016-11-05 19:20:00,2016-11-05 19:28:00,Business,Agnew,Agnew,2.2,NaN
906,2016-11-04 21:04:00,2016-11-04 21:20:00,Business,Agnew,Cory,4.3,NaN
908,2016-11-05 08:34:00,2016-11-05 08:43:00,Business,Agnew,Renaissance,2.2,NaN
879,2016-10-30 12:58:00,2016-10-30 13:18:00,Business,Almond,Bryson City,15.2,NaN
...,...,...,...,...,...,...,...
898,2016-11-03 11:28:00,2016-11-03 11:34:00,Business,Whitebridge,Hazelwood,2.5,NaN
893,2016-11-02 15:10:00,2016-11-02 15:18:00,Business,Whitebridge,Westpark Place,1.4,NaN
162,2016-02-26 09:06:00,2016-02-26 09:29:00,Business,Whitebridge,Westpark Place,6.3,NaN
577,2016-07-21 17:17:00,2016-07-21 17:23:00,Business,Whitebridge,Edgehill Farms,2.7,NaN
870,2016-10-28 18:13:00,2016-10-28 20:07:00,Business,Winston Salem,Asheville,133.6,Meeting

In [58]:
# Conditionally adding column
import numpy as np
data['Trip Category'] = np.where(data['Miles'] > 10, 'Long Trip', 'Short')
data

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose,Trip Category
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Short
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip
...,...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting,Short
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site,Short
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip

In [59]:
data['Trip Category'].value_counts()

Short        840
Long Trip    315
Name: Trip Category, dtype: int64

In [60]:
data['Time Category'] = np.where(data['Start Date'] > '2016-07-01', 'New Trip', 'Old Trip')
data

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose,Trip Category,Time Category
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Short,Old Trip
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short,Old Trip
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short,Old Trip
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short,Old Trip
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip,Old Trip
...,...,...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting,Short,New Trip
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short,New Trip
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip,New Trip
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site,Short,New Trip
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip,New Trip

In [61]:
data['Time Category'].value_counts()

New Trip    654
Old Trip    501
Name: Time Category, dtype: int64

In [63]:
# Group by Summarize
data.groupby('Start City')['Miles'].agg(['mean'])

                       mean
Start City
Agnew              2.775000
Almond            15.200000
Apex               5.341176
Arabi             17.000000
Arlington          4.900000
...                     ...
West University    2.200000
Weston             4.000000
Westpark Place     2.182353
Whitebridge        4.020588
Winston Salem    133.600000

[177 rows x 1 columns]

In [64]:
data.groupby('Start City')['Miles'].agg(['mean', 'sum'])

                       mean    sum
Start City
Agnew              2.775000   11.1
Almond            15.200000   15.2
Apex               5.341176   90.8
Arabi             17.000000   17.0
Arlington          4.900000    4.9
...                     ...    ...
West University    2.200000    4.4
Weston             4.000000    8.0
Westpark Place     2.182353   37.1
Whitebridge        4.020588  273.4
Winston Salem    133.600000  133.6

[177 rows x 2 columns]

In [65]:
data['Start City'].value_counts()

Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
                   ...
Florence              1
Ridgeland             1
Daytona Beach         1
Sky Lake              1
Gampaha               1
Name: Start City, Length: 177, dtype: int64

In [66]:
data

,Start Date,End Date,Category,Start City,Stop City,Miles,Purpose,Trip Category,Time Category
0,2016-01-01 21:11:00,2016-01-01 21:17:00,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Short,Old Trip
1,2016-01-02 01:25:00,2016-01-02 01:37:00,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short,Old Trip
2,2016-01-02 20:25:00,2016-01-02 20:38:00,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short,Old Trip
3,2016-01-05 17:31:00,2016-01-05 17:45:00,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short,Old Trip
4,2016-01-06 14:42:00,2016-01-06 15:49:00,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip,Old Trip
...,...,...,...,...,...,...,...,...,...
1150,2016-12-31 01:07:00,2016-12-31 01:14:00,Business,Kar?chi,Kar?chi,0.7,Meeting,Short,New Trip
1151,2016-12-31 13:24:00,2016-12-31 13:42:00,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short,New Trip
1152,2016-12-31 15:03:00,2016-12-31 15:38:00,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip,New Trip
1153,2016-12-31 21:32:00,2016-12-31 21:50:00,Business,Katunayake,Gampaha,6.4,Temporary Site,Short,New Trip
1154,2016-12-31 22:08:00,2016-12-31 23:51:00,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip,New Trip

In [67]:
import os

In [68]:
new_dir = '/content/drive/MyDrive/intermediate-python/datasets'

In [69]:
data.to_csv(os.path.join(new_dir, 'file_baru.csv'))